{% extends 'base.html.twig' %}

{% block title %}Snowtricks
{% endblock %}

{% block body %}

	<main class="container">
		<section class="row" style="height: 50vh;">
			<div class="col-12">
				<h1 class="text-3xl font-bold underline">Snowtricks</h1>
				<div class="alert alert-primary" role="alert">
					A simple primary alert—check it out!
				</div>
			</div>
		</section>

        <section class="row">
			<div class="col-12">
                {% include "tricks/list.html.twig"  %}
			</div>
		</section>
	</main>

{% endblock %}
