{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
 <h1 class="text-3xl font-bold underline">Snowtricks</h1>
 <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
{% endblock %}
