{% extends 'base.html.twig' %}

{% block title %}Snowtricks
{% endblock %}

{% block body %}

	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1 class="text-3xl font-bold underline">Snowtricks</h1>
				<iframe
                        height="500px" width="100%" frameborder="0" allowfullscreen 
                        src="https://www.youtube.com/embed/BqDWZ_z4GQw"
                    ></iframe>
				
			</div>
		</section>

        <section class="row">
			<div class="col-12">
                {% include "tricks/list.html.twig"  %}
			</div>
		</section>
	</main>

{% endblock %}
