{% extends 'base.html.twig' %}

{% block title %}Liste des figures de la catégorie {{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
		<section class="row">
			<div class="col-12">
				<h1 class="text-3xl font-bold">Liste des figures de la catégorie {{ category.name }}</h1>
                {% include "categories/list.html.twig"  %}
            </div>
		</section>

        <section class="row">
            <div class="col-12">
                {% include "tricks/list.html.twig"  %}
            </div>
        </section>
	</main>
{% endblock %}
