<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{{ path('app_tricks_index', {'category_slug': 'all'}) }}" class="btn {% if app.request.attributes.get('_route_params').category_slug == 'all' %}btn-success{% else %}btn-secondary{% endif %}">Tout</a>
    {% for category in categories %}
        <a href="{{ path('app_tricks_index', {'category_slug': category.slug}) }}" class="btn {% if app.request.attributes.get('_route_params').category_slug == category.slug %}btn-success{% else %}btn-secondary{% endif %}">{{ category.name }}</a>
    {% endfor %}
</div>
