<div class="d-flex flex-wrap justify-content-center flex-md-row flex-column gap-2">

    {% if is_granted('ROLE_USER') %}
        <div class="mx-3">
            <a href="{{ path('app_tricks_add')}}" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Ajouter une figure
            </a>
        </div>
    {% endif %}

    <div class="btn-group d-flex flex-wrap flex-md-row flex-column" role="group" id='tricks'>
        
        <div>
            <a href="{{ path('app_tricks_index', {'category_slug': 'tout'}) }}" 
            style="display:flex;justify-content:center;align-items:center;"
            class="btn
            {% if app.request.attributes.get('_route_params').category_slug == 'tout' %}
                btn-dark
            {% else %}
                btn-light
            {% endif %}"
            >
            Tout
            </a>
        </div>
        {% for category in categories %}
        <div>
            <a href="{{ path('app_tricks_index', {'category_slug': category.slug}) }}" 
            style="display:flex;justify-content:center;align-items:center;"
            class="btn
            {% if app.request.attributes.get('_route_params').category_slug == category.slug %}
                btn-dark
            {% else %}
                btn-light
            {% endif %}"
            >
                {{ category.name }}
            </a>
        </div>
        {% endfor %}
    </div>
</div>