<h1>Réinitialisation du mot de passe</h1>
<p>Bonjour
	{{ user.firstname }} {{ user.lastname }},
</p>
<p>Pour votre demande de réinitialisation de votre mot de passe, 
veuillez cliquer sur le lien suivant : <a href="{{ url }}">{{ url }}</a></p>
<p>Merci</p>
