{{ form_start(commentForm, {'action': path('app_comments_add', {'trick': trick.id})}) }}
        {{ form_widget(commentForm.content) }}  
        <button type="submit" class="btn btn-dark mt-3">Envoyer</button>                
{{ form_end(commentForm) }}
