{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <h1>Modifier une figure</h1>
    {% include 'tricks/_form.html.twig' with {'button_label':'Modifier'} %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}" defer></script>
{% endblock %}