{% extends 'base.html.twig' %}

{% block title %}SnowTricks - 
    {% if categories is defined %}
        {% if app.request.attributes.get('_route_params').category_slug == 'tout' %}
            Toutes les Figures
        {% else %}
            {% for category in categories %}
                {% if app.request.attributes.get('_route_params').category_slug == category.slug %}
                    {{ category.name }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        Toutes les Figures
    {% endif %}
{% endblock %}

{% block body %}
    <main class="container">
		<section class="row">
			<div class="col-12 mx-auto text-center mt-4" style="width:fit-content;">

                {% include "categories/list.html.twig"  %}

				<h1 class="text-3xl font-bold mt-4">
                    {% if categories is defined %}
                        {% if app.request.attributes.get('_route_params').category_slug == 'tout' %}
                            Toutes les Figures
                        {% else %}
                            {% for category in categories %}
                                {% if app.request.attributes.get('_route_params').category_slug == category.slug %}
                                    {{ category.name }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        Toutes les Figures
                    {% endif %}
                </h1>
			</div>
		</section>

        <section class="row">
            <div class="col-12">

                {% include "tricks/list.html.twig"  %}
                
            </div>
        </section>
	</main>
{% endblock %}
